singularity.cacheDir = "$baseDir/singularity"

process {
    executor = "slurm"
    withLabel: basecalling {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/guppy-gpu_latest.sif"
        memory = "64GB"
        time = "4.hour"
        cpus = 64
        containerOptions = "--nv"
        clusterOptions = "--gres=gpu:2"
    }
    withLabel: liqa {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/docker-liqa_latest.sif"
        memory = "16GB"
        time = "45 min"
        cpus = 8
    }
    withLabel: liqaDiff {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/docker-liqa_latest.sif"
        memory = "16GB"
        time = "7.hour"
        cpus = 8
    }
    withLabel: aligning {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/minimap2_latest.sif"
        memory = "64GB"
        time = "45 min"
        cpus = 64
    }
    withLabel: preprocessing {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/plasmid_asmblr_processes.sif"
        memory = "8GB"
        time = "30 min"
        cpus = 64
    }
    withLabel: remove_adaptor {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/porechop_latest.sif"
        memory = "8GB"
        time = "45 min"
        cpus = 64
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


process {
    withLabel: smallJob {
        container = "/home/bdpitica/scratch/mRNA_isoform/containers/plasmid_asmblr_processes.sif"
        executor = "local"
    }
    
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    standard {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
}