process {
    executor = "slurm"
    withLabel: basecalling {
        container = "genomicpariscentre/guppy-gpu:latest"
        memory = "64GB"
        time = "4.hour"
        cpus = 64
        containerOptions = "--nv"
        clusterOptions = "--gres=gpu:2"
    }
    withLabel: liqa {
        container = "benpiticaru/liqa-docker:latest"
        memory = "16GB"
        time = "45 min"
        cpus = 8
    }
    withLabel: liqaDiff {
        container = "benpiticaru/liqa-docker:latest"
        memory = "16GB"
        time = "7.hour"
        cpus = 8
    }
    withLabel: aligning {
        container = "nanozoo/minimap2:2.26--d9ef6b6"
        memory = "64GB"
        time = "45 min"
        cpus = 64
    }
    withLabel: preprocessing {
        container = "benpiticaru/plasmid_asmblr:processes"
        memory = "8GB"
        time = "30 min"
        cpus = 64
    }
    withLabel: remove_adaptor {
        container = "staphb/porechop:latest"
        memory = "8GB"
        time = "1.hour"
        cpus = 64
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


process {
    withLabel: smallJob {
        container = "benpiticaru/plasmid_asmblr:processes"
        executor = "local"
    }
    
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    standard {
        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = "$baseDir/apptainer"
        }
    }
}